/* Page-specific styling */

html {
    position: relative;
    min-height: 100%;
}


#notification-popup.ms-MessageBanner {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: left;
    height: inherit;
    min-width: inherit;
}

#notification-popup .ms-MessageBanner-text {
    margin: 0;
    padding: 18px 15px;
    min-width: inherit;
}
